aiohttp==3.7.4.post0
altair==4.1.0
appdirs==1.4.4
argh==0.26.2
arrow==0.13.1
astor==0.8.1
async-timeout==3.0.1
atomicwrites==1.4.0
backports.zoneinfo==0.2.1
base58==2.1.0
black==19.10b0
bleach==4.1.0
blinker==1.4
bokeh==2.3.3
Bottleneck==1.3.2
Brotli==1.0.9
brotlipy==0.7.0
cachetools==4.2.2
certifi==2021.5.30
charset-normalizer==2.0.4
click==7.1.2
cycler==0.10.0
dash-bootstrap-components==0.9.1
dash-daq==0.5.0
dash-renderer==1.8.3
dask==2.30.0
dataprep==0.3.0
deap==1.3.1
debugpy==1.4.1
entrypoints==0.3
fairlearn==0.7.0
Flask-Compress==1.10.1
fsspec==2021.7.0
future==0.18.2
gitdb==4.0.7
GitPython==3.1.18
h2o==3.32.1.6
idna==3.2
importlib-resources==5.2.2
inflection==0.5.1
ipykernel==6.2.0
ipywidgets==7.6.3
itsdangerous==2.0.1
jedi==0.18.0
joblib==1.0.1
jsonpath-ng==1.5.3
jupyter-client==7.0.1
jupyterlab-widgets==1.0.0
kiwisolver==1.3.2
llvmlite==0.36.0
locket==0.2.1
MarkupSafe==2.0.1
matplotlib==3.4.3
mccabe==0.6.1
Metaphone==0.6
mistune==0.8.4
multidict==5.1.0
mypy-extensions==0.4.3
mysql-connector-python==8.0.26
nbclient==0.5.4
nltk==3.6.2
numba==0.53.1
numpy==1.21.2
pandas==1.3.2
parso==0.8.2
partd==1.2.0
pathspec==0.7.0
Pillow==8.3.1
plotly==4.12.0
ply==3.11
probableparsing==0.0.1
prompt-toolkit==3.0.20
protobuf==3.17.3
pyarrow==5.0.0
pydantic==1.8.2
pydeck==0.6.2
pyrsistent==0.18.0
python-crfsuite==0.9.7
python-Levenshtein==0.12.2

PyYAML==5.4.1
regex==2020.11.13
requests==2.26.0
retrying==1.3.3
scikit-learn==0.24.2
scipy==1.7.1
Send2Trash==1.8.0
shap==0.39.0

sip==6.1.1

slicer==0.0.7
smmap==4.0.0
stopit==1.1.2
streamlit==0.86.0
sweetviz==2.1.3
terminado==0.11.1
text-unidecode==1.3
threadpoolctl==2.2.0
toolz==0.11.1
TPOT==0.11.7
tqdm==4.62.2
tzdata==2021.1
tzlocal==3.0
update-checker==0.18.0
usaddress==0.5.10
validators==0.18.2
watchdog==2.1.5
webencodings==0.5.1
Werkzeug==2.0.1
widgetsnbextension==3.5.1
wincertstore==0.2
wordcloud==1.8.1
wrapt==1.12.1
xgboost==1.4.2
yarl==1.6.3
